div.modal-dialog {
    text-align: left;
}

form.page {
    display: inline-block;
}

div.thumbnail {
    overflow: hidden;
    cursor: pointer;
}

div.rects-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img.thumbnail-image {
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.tag-rect:hover > p {
    color: white;
    background-color: black;
}

.tag-rect:hover, .tag-rect:focus {
    border: 2px solid black;
    color: black;
}

.tag-rect {
    transition: all 0.3s;
    position: absolute;
    border: 2px solid #83aec9;
    color: #83aec9;
}

.tag-rect p {
    margin: 0;
    text-align: left;
    transition: all 0.3s;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.full-container > div.row {
    text-align: center;
}

div.row > div {
    margin: 4px 6px;
}
